/* Style box model */
* {
  box-sizing: border-box;
}

/* Style all text */
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: black
    margin: 0;
}

/* HEADER STYLING */

.header {
  padding: 20px;
  text-align: center;
  color: #333333;
}

/* NAVIGATION BAR STYLING */

.navigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border: 2px solid #666666;
  border-radius: 5px;
}

.navigationBar li {
  float: left;
}

.navigationBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationBar li a:hover {
  background-color: #666666;
}

.navigationBar li a.active {
  background-color: #999999;
}

.text {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 25px;
  border-radius: 5px;
  background-color: #e6f2ff;
  text-align: center;
}
